@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300;700&family=Gruppo&family=Montserrat+Alternates:wght@100&display=swap");

.about-main {
  background-image: linear-gradient(
    #ffffff,
    rgba(255, 212, 212, 0.699),
    #ffffff
  );
  margin-top: 10%;
  margin-bottom: 2%;
  padding: 5%;
}

.dark-about-main {
  background-image: linear-gradient(#252525, rgb(50, 50, 50), #252525);
  margin-top: 10%;
  margin-bottom: 2%;
  padding: 5%;
}

.about-main:hover {
  box-shadow: 0.1px 0.1px 30px 0px;
  transition: 2s;
}

.dark-about-main:hover {
  box-shadow: 0.1px 0.1px 30px 0px rgba(176, 246, 255, 0.21);
  transition: 2s;
}

.about-main:not(:hover) {
  transition: 2s;
}

.about h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 3rem;
  margin: 1% 5%;
  margin-bottom: 2%;
}

.dark-about-main .about h1 {
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  font-size: 3rem;
  margin: 1% 5%;
  margin-bottom: 2%;
}

.below {
  margin-left: 20%;
  width: 60%;
  height: 100%;
  padding: 2px;
}

.about-text {
  width: 100%;
  /* height: 20vh; */
  font-size: 1rem;
  overflow: hidden;
  margin-bottom: 5%;
}

.dark-about-main .about-text {
  color: white;
  width: 100%;
  /* height: 20vh; */
  font-size: 1rem;
  overflow: hidden;
  margin-bottom: 5%;
}

.about-buttons {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  margin-bottom: 5%;
}

.about-buttons button {
  background-color: rgba(186, 185, 185, 0.333);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.281);
  width: 46%;
  border: none;
  font-size: 0.8rem;
}

.dark-about-main .about-buttons button {
  background-color: rgba(186, 185, 185, 0.333);
  color: white;
  border: none;
  font-size: 0.8rem;
}

.about-buttons button:hover {
  box-shadow: 0.1px 0.1px 30px 0px;
  transition: 0.5s;
}

.dark-about-main .about-buttons button:hover {
  box-shadow: 0.1px 0.1px 30px 0px rgba(255, 255, 255, 0.216);
  transform: scale(0.9);
  transition: 0.5s;
}

/* DROPDOWN */

.dropdown-about2 {
  display: none;
}

.dropdown-about {
  margin-top: 10%;
  box-shadow: 1px 1px 50px 0.1px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dark-about-main .dropdown-about {
  margin-top: 10%;
  box-shadow: 1px 1px 30px 0.1px rgba(142, 224, 245, 0.251);
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-left {
  background-color: rgba(27, 220, 20, 0.056);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dark-about-main .about-left {
  background-color: rgba(252, 255, 252, 0.056);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-right {
  background-color: rgba(24, 238, 241, 0.096);
  width: 50%;
}

.dark-about-main .about-right {
  background-color: rgba(255, 255, 255, 0.096);
  width: 50%;
}

.about-left section {
  background-color: rgba(139, 219, 142, 0.378);
  border-radius: 5%;
  margin: 8%;
  height: 30%;
  text-align: right;
  padding: 10%;
  padding-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dark-about-main .about-left section {
  background-color: rgba(255, 255, 255, 0.085);
  color: white;
  border-radius: 5%;
  margin: 8%;
  height: 30%;
  text-align: right;
  padding: 10%;
  padding-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropdown-about section p {
  font-size: 0.8rem;
}

.about-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-right section {
  background-color: rgba(139, 208, 219, 0.43);
  margin: 8%;
  height: 30%;
  text-align: left;
  border-radius: 5%;
  padding: 10%;
  padding-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dark-about-main .about-right section {
  background-color: rgba(0, 0, 0, 0.085);
  color: white;
  margin: 8%;
  height: 30%;
  text-align: left;
  border-radius: 5%;
  padding: 10%;
  padding-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*  */

@media screen and (max-width: 1200px) {
  .dropdown-about section p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 800px) {
  .about-main {
    margin-top: 20%;
  }

  .dark-about-main  {
    margin-top: 20%;
  }

  .dropdown-about2 {
    display: block;
  }

  .dark-about-main .dropdown-about2 {
    display: block;
  }

  .dropdown-about {
    display: none;
  }

  .dark-about-main .dropdown-about {
    display: none;
  }

  .about h1 {
    margin-top: 10%;
    margin-bottom: 8%;
  }

  .dark-about-main .about h1 {
    /* margin-top: 22%; */
    margin-top: 10%;
    margin-bottom: 8%;
    transition: 1.5s;
  }

  .about-text p {
    font-size: 0.8rem;
  }

  .about-text {
    margin-bottom: 10%;
  }

  .dark-about-main .about-text {
    margin-bottom: 10%;
  }

  .below {
    margin-left: 8%;
    width: 80%;
  }

  /*  */

  .dropdown-about2 {
    border-radius: 5px;
    margin-top: 12%;
    background-color: rgba(251, 217, 217, 0.473);
    box-shadow: 1px 1px 50px 0.1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }

  .dark-about-main .dropdown-about2 {
    border-radius: 5px;
    color: white;
    margin-top: 12%;
    background-color: rgba(140, 140, 140, 0.473);
    box-shadow: 1px 1px 30px 5px rgba(28, 28, 28, 0.445);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }

  .dropdown-about2 section {
    border-radius: 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 4%;
  }

  /* .dark-about-main .dropdown-about2 section {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 4%;
  } */

  .about-one2 {
    background-color: rgba(165, 219, 167, 0.378);
  }

  .dark-about-main .about-one2 {
    background-color: rgba(193, 227, 167, 0.273);
  }

  .about-two2 {
    background-color: rgba(157, 209, 216, 0.43);
  }

  .dark-about-main .about-two2 {
    background-color: rgba(227, 167, 167, 0.416);
  }

  .about-two2 {
    background-color: rgba(157, 209, 216, 0.43);
  }

  .about-three2 {
    background-color: rgba(227, 167, 213, 0.378);
  }

  .dark-about-main .about-three2 {
    background-color: rgba(227, 167, 213, 0.378);
  }

  .dropdown-about2 p {
    font-size: 0.8rem;
  }
}
